################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobileApiGeneratorFramework/GeneralLibrary/bin/Release
